.carousel-caption{
    left: 419px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    top: 604px;
    right: 198px;
    /* opacity: 0; */
}
.navbar {
    left: 198px;
    /* opacity: 0; */
}
